.question-mark {
    width: 20px;
    height: 20px;
}
.bg-feature {
    width: 100%;
    height: 500px;
}
.btn-search {
    width: 300px !important;
    border-radius: 10px !important;
    padding: 5px !important;
}
.category-icon {
    width: 50px;
    height: 50px;
}
.promotion-icon {
    width: 60px;
    height: 60px;
}
.promotion-btn {
    margin-top: 150px;

}
.sell-img {
    height: 200px;
}
.cart-img {
    width: 20px;
    height: 20px;
}
.bg-coupon {
    background: rgb(189, 150, 150);
}
.bg-deliver {
    background: rgb(0, 153, 255);
}
.bg-gift {
    background: rgb(219, 92, 219);
}
.loadmore{
    width: 100%;
    margin: 5px;

}
.item_product {
    display: none;
}
.item_product:hover {

    background: gray;
}
#myDIV {
    color: rgb(47, 13, 238);

    animation: mymove 3s infinite;
  }

  @keyframes mymove {
    80% {color: rgba(252, 9, 21, 0.973);

    }
}
.detail-img1 {
    width: 200px;
    height: 200px;
    margin-right: 100px;
}
.detail-img2 {
    width: 88px;
    height: 100px;


}
.title-detail {
    margin-left: 180px;
}
.textbox {
   width: 100%;
}
.profile {
    width: 50px;
    height: 50px;
}
.hover:hover {
    background: gray;
}
.promotion:hover{
    background: wheat;
}
